version: "3"

services:
  traefik:
    container_name: traefik
    image: traefik:v2.2.1
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yaml:/traefik.yaml
      - ./acme.json:/acme.json
      - ./dynamic_conf.yaml:/dynamic_conf.yaml
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`{{ traefik.url }}`)"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=auth@file"
      - "traefik.http.routers.traefik.entrypoints=websecure"

networks:
  web:
    external: true
