$$$$$$$\
$$  __$$\
$$ |  $$ | $$$$$$\  $$$$$$$\  $$$$$$$\   $$$$$$\   $$$$$$\
$$$$$$$\ | \____$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\
$$  __$$\  $$$$$$$ |$$ |  $$ |$$ |  $$ |$$$$$$$$ |$$ |  \__|
$$ |  $$ |$$  __$$ |$$ |  $$ |$$ |  $$ |$$   ____|$$ |
$$$$$$$  |\$$$$$$$ |$$ |  $$ |$$ |  $$ |\$$$$$$$\ $$ |
\_______/  \_______|\__|  \__|\__|  \__| \_______|\__|

{{ banner_var }}